.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 1865px;
  height: 1000px;
  margin-top: -80px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.301);
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.301);
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0.8;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.02);
}
